<!DOCTYPE html>
<html>
<%	function vrniTip(kolicina){
		if(kolicina > 0){
			return 'donated';
		} else if(kolicina < 0){
			return 'took';
		} else {
			return 'nedefinirano';
		}
	}	%>

	<head>
		<title>Citizen contribution</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	</head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style>
		a:hover{
    		text-decoration: none;
		}
	</style>
	<body>
		<% include nav.ejs %>
			<div style="padding:25px">
				<% if(!items[0]){ %>
					<p> No records found!</p>
					<% } else { %>
						<h3>Records of
							<%= items[0].CITIZEN_NAME %>
						</h3>
						<% for(var i = 0; i < items.length; i++) { %>
							<hr />
							<div style="float:none">
								<span><%= items[i].DATUM_IN %> - <%= vrniTip(items[i].KOLICINA) %> <strong><%= Math.abs(items[i].KOLICINA) %> <%= items[i].NAZIV %></strong> <i>(<%= Math.abs(items[i].VREDNOST) %> silver)</i></span>
								<span style="float:right">Added by: <%= items[i].USERNAME %></span>
							</div>

							<% }} %>
								<a href="/list"><span class="glyphicon glyphicon-chevron-left" style="padding-top:15px;"></span> Go back</a>
			</div>
	</body>

</html>