<!DOCTYPE html>
<html>

<head>
	<title>List citizens</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="javascripts/sorttable.js"></script>

<style>
	table.sortable thead {
		background-color: #cdcdcd;
		color: #4d4a4f;
		font-weight: bold;
		cursor: default;
	}
	
	.tablCol {
		width: 10em;
		padding-top: 1em;
		padding-bottom: 1em;
	}
	
	th {
		text-align: center;
	}
	
	td {
		text-align: center;
		border-bottom: 1px solid #ddd;
		padding: 5px;
	}
	
	td.left {
		text-align: left;
		padding-left: 5px;
	}
	
	th.left {
		text-align: left;
		padding-left: 5px;
	}
	
	tr:hover {
		background-color: #eee;
	}
	
	.toggle {
		display: none;
	}
</style>

<script>
	$(document).ready(function(){
		var show = false;
		$("#showInsert").click(function(){
			$("#insert").toggle("slow");
			$(".toggle:visible").not("#insert").hide();
			if(show){
				show = false;
				$("#showInsert").removeClass('btn-danger');
				$("#showInsert").addClass('btn-default');
				$("#showInsert").html("Add new citizen");
			} else {
				show = true;
				$("#showInsert").removeClass('btn-default');
				$("#showInsert").addClass('btn-danger');
				$("#showInsert").html("Cancel");
			}
		});
	});
</script>

<body>
	<% include nav.ejs %>
		<div style="padding:25px">
			<h3 style="padding-bottom:10px">Citizen list</h3>
			<div id="new">
				<button id="showInsert" class="btn btn-default">Add new citizen</button>
			</div>
			<div id="insert" class="toggle">
				<form action="/list/add" method="POST" enctype="multipart/form-data" style="width: 350px; padding-bottom:15px">
					<div class="form-group">
						<label for="CitizenName">Citizen name:</label>
						<input type="text" id="CitizenName" name="CitizenName" class="form-control" required/>
					</div>
					<div class="form-group">
						<label for="Str">Strength:</label>
						<input type="number" id="Str" name="Str" class="form-control" required />
					</div>
					<div class="form-group">
						<label for="Str">Dexterity:</label>
						<input type="number" id="Dex" name="Dex" class="form-control" required />
					</div>
					<div class="form-group">
						<label for="Str">Constitution:</label>
						<input type="number" id="Con" name="Con" class="form-control" required/>
					</div>
					<div class="form-group">
						<label for="Str">Charisma:</label>
						<input type="number" id="Char" name="Char" class="form-control" required/>
					</div>
					<div class="form-group">
						<label for="Str">Intelligence:</label>
						<input type="number" id="Intl" name="Intl" class="form-control" required/>
					</div>
					<button type="submit" class="btn btn-default">Submit</button>
				</form>
			</div>
			<table class="sortable">
				<tr>
					<th></th>
					<th class="tablCol left">Citizen name</th>
					<th class="tablCol">Strength</th>
					<th class="tablCol">Dexterity</th>
					<th class="tablCol">Intelligence</th>
					<th class="tablCol">Constitution</th>
					<th class="tablCol">Charisma</th>
					<th class="tablCol">Contributed total</th>
				</tr>
				<% for(var i = 0; i < items.length; i++){ %>
					<tr>
						<td><a href="/list/edit/<%= items[i].CITIZEN_ID %>"><span class="glyphicon glyphicon-pencil"></span></a></td>
						<td class="left">
							<%= items[i].CITIZEN_NAME %>
						</td>
						<td>
							<%= items[i].STR %>
						</td>
						<td>
							<%= items[i].DEX %>
						</td>
						<td>
							<%= items[i].INTL %>
						</td>
						<td>
							<%= items[i].CON %>
						</td>
						<td>
							<%= items[i].CHR %>
						</td>
						<td>
							<a href="/donations/<%= items[i].CITIZEN_ID %>">
								<%= items[i].BALANCE %>
							</a>
						</td>
					</tr>
					<% } %>

			</table>
		</div>
</body>

</html>